# compiled output
/frontent/dist
/frontent/tmp
/frontent/out-tsc
/backend/data

# favicon
favicon.pdn
favicon.png

# dependencies
node_modules

# unfinished folders
/frontend/e2e

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
frontent/connect.lock
frontent/coverage
frontent/libpeerconnection.log
notes.md

# System Files
.DS_Store
Thumbs.db
