<div class="main-div">
  <h2>Welcome to wordbook!</h2>
  <h3>Available word types:</h3>
  <ul>
    <li>n = Noun</li>
    <li>v = Verb</li>
    <li>a = Adjective</li>
    <li>s = Sentence</li>
    <li>e = Expression</li>
    <li>d = Adverb</li>
    <li>o = Other</li>
  </ul>
  <br/>
  <p>
    Other is the default type for words. At the end of the line is the difficulty 
    between 0 and 10, 10 being the default. The difficulty algorithm is still in 
    development but currently decreases with correct answers and increases with 
    incorrect. Future testing and printing options are coming based on word type 
    and difficulty.
  </p>
</div>